name: Docs

on:
  push:
    branches: [ master ]

jobs:
  docs:
    permissions:
      contents: write
      id-token: write
      pages: write
    if: github.ref == 'refs/heads/master'
    uses: jenly1314/actions/.github/workflows/reusable-docs.yml@main
    with:
      java-version-file: '.github/workflows/.java-version'
