name: Docs

on:
  push:
    branches: [ master ]

jobs:
  docs:
    uses: jenly1314/actions/.github/workflows/reusable-docs.yml@v1
    with:
      java-version-file: '.github/workflows/.java-version'
