name: Docs

on:
  push:
    branches: [ master ]

permissions:
  contents: write
  id-token: write
  pages: write

jobs:
  docs:
    uses: jenly1314/actions/.github/workflows/reusable-docs.yml@main
    with:
      java-version-file: '.github/workflows/.java-version'
